<div style="">
  <div style="text-align:center">
    <h1>
      {{ title }}
    </h1>
    <img width="225" alt="Angular Logo"
         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvAFuEs1iWRRcSIxREXGKhXjcysNM-x93kJzsyKFVosqZHb9LL">
  </div>
  <div style="text-align:center">
    <div>
      <button routerLink="login" type="button" class="btn btn-dark">Login</button>
      <button routerLink="register" type="button" class="btn btn-dark">Register</button>
      <button routerLink="dashboard" type="button" class="btn btn-dark">Dashboard</button>
    </div>

  </div>
</div>
